@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.spin{
    animation: spin 40s linear infinite  ;
}
.activelink{
    background-color: brown;
    color: black;
}